{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <h1>
        <span style="color: #f00;">Мама,</span>
        <span style="color: rgb(30, 255, 0);"> я </span>
        <span style="color: rgb(98, 0, 255);">програмистер</span>
    </h1>
    <p>
        <img src="{% static 'img/programmist-s-mikrovolnovkoy-1.jpg' %}" width="500" height="300">
    </p>
    <h3>Ссылки на меня</h3>
    <p>
        <ul>
            <li><a href="https://irkutsk.hh.ru/resume/50c29ebcff040a8e140039ed1f4b66384b7559">Резюме</a></li>
            <li><a href="https://github.com/MikhailBogachev">Github</a></li>
            <li><a href="https://leetcode.com/MikhailBogachev/">Leetcode</a></li>
        </ul>
    </p>
</p>
{% endblock %} 